<button><a href="/Home/DisplayInterfaceTest" style="color:black;">Strategy display demonstration</a></button>

<!-- Main Navigation -->
<h4>Filters</h4>
<ul class="nav-left">
    <li>@Html.ActionLink("All Products", "Index")</li>
    <li>@Html.ActionLink("Browse By Category", "ListByCategory")</li>
    <li>@Html.ActionLink("Browse By Supplier", "ListBySupplier")</li>
    <li>@Html.ActionLink("Browse By Price", "ListByPrice")</li>
    <li>@Html.ActionLink("Browse Orders", "Orders")</li>
</ul>
